FORMAT: 1A
HOST: http://cloud.api.gizwits.com

# Gizwits API for Private Cloud

# Group API for third-party clouds

## Devices [/devices]
### Register Devices [POST]

+ Request (application/json)

    + Header
        
            X-Gizwits-Application-Id: {appid}
            
    + Body
    
            {
                "devices": [{
                    "mac": "112233445566"
                }, {
                    "mac": "112233445566"
                }]
            }
            
+ Response 201 (application/json)

    + Body
    
            {
                "devices": [{
                    "did": "absew",
                    "mac": "112233445566"
                }, {
                    "did": "absew",
                    "mac": "112233445566"
                }]
            }
            
## Bindings [/bindings]

### Register Bindings [POST]

+ Request (application/json)

    + Header
        
            X-Gizwits-Application-Id: {appid}
            
    + Body
    
            {
                "bindings": [{
                    "user": "112233445566",
                    "devices": ["abcde", "adfade"]
                }, {
                    "user": "112233445566",
                    "devices": ["abcde", "adfade"]
                }]
            }
            
+ Response 201 (application/json)

### Delete Bindings [DELETE]

+ Request (application/json)

    + Header
        
            X-Gizwits-Application-Id: {appid}
            
    + Body
    
            {
                "bindings": [{
                    "user": "112233445566",
                    "devices": ["abcde", "adfade"]
                }, {
                    "user": "112233445566",
                    "devices": ["abcde", "adfade"]
                }]
            }
            
+ Response 200 (application/json)